body {
      margin: 0;
      background: #FFFFFF;
      font-family: 'Roboto', sans-serif;
    }

    header {
      display: flex;
      align-items: center;
      padding: 20px 40px;
      background: #F2EAD0;
      justify-content: center;
      text-align: center;
    }

    header img {
      height: 100px;
      margin-right: 20px;
    }

    header h1 {
      font-family: "Great Vibes", cursive;
      font-size: 60px;
      color: #D97925;
      margin: 0;
    }

    /* --- Estilizacao da apresentacao --- */

    .subtitleService {
        color: #552800;
    }

    .container {
      max-width: 900px;
      margin: 40px auto;
      background: #fff;
      padding: 40px;
    }

    .paragrafoApresent{
       margin: 0; 
       font-size: 16px;
    }

    .titleBarber {
        margin: 5px 0; 
        font-weight: bold;
        font-size: 22px; 
        color: #592B11; 
    }       

    .titulo-secao {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      font-size: 20px;
      color: #592B11;
      margin-bottom: 20px;
    }

    .texto-boas-vindas {
        display: flex;
        flex-direction: column; 
        line-height: 1.2;
    }

    .form-title {
    color: #5d3a1a;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #5d3a1a;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.container-botoes {
    margin-top: 30px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.3s;
}

.botao-finalizar {
    background-color: #f3e5ab;
    color: #5d3a1a;
    border: 1px solid #e0d195;
}

.botao-finalizar:hover {
    background-color: #e0d195;
}

.botao-voltar {
    background-color: #f0f0f0;
    color: #5d3a1a;
}
